@reference "../../../index.css";

@layer components {
  .label {
    @apply label1 font-medium;
  }

  .input {
    @apply border border-cloud-gray rounded-lg px-3 py-[7px] label1 text-text-color;
  }

  .input:disabled{
    @apply bg-active-sidebar-item text-sidebar-icon-color;
  }
}

.input {
  appearance: none;
  transition: border 0.3s ease-out;
}
.input:focus {
  outline: none;
}
