@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
}

@theme inline {
  --ease-custom: cubic-bezier(0.4, 0, 0.2, 1);
  --color-primary: #243c7b;
  --color-sidebar-text-color: #414651;
  --color-sidebar-icon-color: #717680;
  --color-text-color: #181d27;
  --color-secondary-text-color: #535862;
  --color-acitve-sidebar-item: #fafafa;
  --color-secondary: #346cdc;
  --color-light-gray: #e9eaeb;
  --color-primary-24: rgba(0, 16, 17, 0.24);
  --color-gray-60: #666666;
  --color-milk: #f5f5f5;
  --color-description: #cccfcf;
  --color-white-24: #ffffff3d;
  --color-divider_light: #e0e0e0;
  --color-serviceHr: #1f2d2e;
  --color-orange: #ff6e06;

  --color-warning-50: #fffaeb;
  --color-warning-200: #fedf89;
  --color-warning-700: #b54708;

  --color-success-50: #ecfdf3;
  --color-success-200: #abefc6;
  --color-success-700: #067647;

  --color-blue-50: #b2ddff;
  --color-blue-200: #eff8ff;
  --color-blue-700: #175cd3;

  --color-purple-50: #f4f3ff;
  --color-purple-200: #d9d6fe;
  --color-purple-700: #5925dc;

  --color-error-50: #fef3f2;
  --color-error-200: #fecdca;
  --color-error-700: #b42318;

  --color-brand-50: #f0f6fe;
  --color-brand-200: #c4ddf9;
  --color-brand-700: #2b58ca;
}

@utility custom-hover-transition {
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

@utility header-buttons {
  @apply text-white p-2  cursor-pointer hover:opacity-50 transition-[opacity] custom-hover-transition;
}
